# notion_test
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module NotionTest
  # BlocksApi
  class BlocksApi < BaseApi
    # Retrieves a Block object using the ID specified in the path. If the block
    # is a page, the page properties will be returned. The block's children are
    # not included; use the retrieve block children endpoint to get them.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] block_id Required parameter: The ID of the block to
    # retrieve.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_block(notion_version,
                       block_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/blocks/{block_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(block_id, key: 'block_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Block.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Updates the content of a block. The fields that can be updated depend on
    # the block type. Blocks can also be archived by setting the archived field
    # to true.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] block_id Required parameter: The ID of the block to
    # update.
    # @param [BlocksRequest] body Required parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_block(notion_version,
                     block_id,
                     body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/blocks/{block_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(block_id, key: 'block_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Block.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Sets a Block object, including page blocks, to archived: true using the ID
    # specified in the path. This is equivalent to trashing the block in the
    # Notion UI. To restore an archived block, use the update block endpoint to
    # set archived to false.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] block_id Required parameter: The ID of the block to
    # delete (archive).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def delete_block(notion_version,
                     block_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/blocks/{block_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(block_id, key: 'block_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Block.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Returns a paginated array of child block objects contained in the block
    # using the ID specified. This is used to read page content by passing a
    # page ID as the block_id. Responses include a maximum of 100 blocks per
    # request and are returned in the order they appear in the parent block.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] block_id Required parameter: The ID of the block
    # whose children to retrieve. This can be a page ID to retrieve page
    # content.
    # @param [String] start_cursor Optional parameter: Pagination cursor to
    # continue fetching results.
    # @param [Integer] page_size Optional parameter: Maximum number of blocks to
    # return (max 100).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_block_children(notion_version,
                                block_id,
                                start_cursor: nil,
                                page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/blocks/{block_id}/children',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(block_id, key: 'block_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(start_cursor, key: 'start_cursor'))
                   .query_param(new_parameter(page_size, key: 'page_size'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaginatedList.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Creates and appends new children blocks to the parent block specified by
    # block_id. Returns the updated parent block. Blocks can be appended to
    # pages, or to other blocks that support children. The maximum number of
    # blocks that can be appended in a single request is 100.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] block_id Required parameter: The ID of the block to
    # append children to. This can be a page ID to add content to a page.
    # @param [BlocksChildrenRequest] body Required parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def append_block_children(notion_version,
                              block_id,
                              body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/blocks/{block_id}/children',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(block_id, key: 'block_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaginatedList.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end
  end
end
