# notion_test
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module NotionTest
  # DatabasesApi
  class DatabasesApi < BaseApi
    # Creates a database as a subpage of the specified parent page, with the
    # specified properties schema. A database can be created with a title,
    # properties defining the schema, and an optional description. The parent
    # must be a page that the integration has access to.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [DatabasesRequest] body Required parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_database(notion_version,
                        body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/databases',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Database.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Retrieves a Database object using the ID specified in the path. Returns
    # the database properties schema and metadata.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] database_id Required parameter: The ID of the
    # database to retrieve.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_database(notion_version,
                          database_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/databases/{database_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(database_id, key: 'database_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Database.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Updates an existing database's title, description, or properties schema.
    # Only the fields specified in the request body will be updated. To remove a
    # property from the schema, set its value to null.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] database_id Required parameter: The ID of the
    # database to update.
    # @param [DatabasesRequest1] body Required parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_database(notion_version,
                        database_id,
                        body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/databases/{database_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(database_id, key: 'database_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Database.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Gets a list of Pages and/or Databases contained in the database, filtered
    # and ordered according to the filter and sort conditions specified in the
    # request body. Responses are paginated and limited to 100 results per
    # request.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] database_id Required parameter: The ID of the
    # database to query.
    # @param [Array[String]] filter_properties Optional parameter: A list of
    # property IDs to include in the response. Only the specified properties
    # will be returned for each page.
    # @param [DatabasesQueryRequest] body Optional parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def query_database(notion_version,
                       database_id,
                       filter_properties: nil,
                       body: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/databases/{database_id}/query',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(database_id, key: 'database_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .query_param(new_parameter(filter_properties, key: 'filter_properties'))
                   .body_param(new_parameter(body))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaginatedList.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end
  end
end
