# notion_test
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module NotionTest
  # PagesApi
  class PagesApi < BaseApi
    # Creates a new page that is a child of an existing page or database. If the
    # parent is a database, the property values of the new page must conform to
    # the parent database's schema. The request body must include a parent and
    # properties. Page content can optionally be provided as an array of block
    # objects in the children field.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [PagesRequest] body Required parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def create_page(notion_version,
                    body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/pages',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Page.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Retrieves a Page object using the ID specified in the path. Returns page
    # properties but not page content (blocks). To retrieve page content, use
    # the retrieve block children endpoint on the page ID.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] page_id Required parameter: The ID of the page to
    # retrieve.
    # @param [Array[String]] filter_properties Optional parameter: A list of
    # page property value IDs to include in the response. If provided, only the
    # specified properties will be returned.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_page(notion_version,
                      page_id,
                      filter_properties: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/pages/{page_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(page_id, key: 'page_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(filter_properties, key: 'filter_properties'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Page.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Updates the properties of a page. Only the properties specified in the
    # request body will be updated. Properties that are not included will remain
    # unchanged. Can also update the page icon, cover, and archived status.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] page_id Required parameter: The ID of the page to
    # update.
    # @param [PagesRequest1] body Required parameter: TODO: type description
    # here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def update_page(notion_version,
                    page_id,
                    body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/pages/{page_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(page_id, key: 'page_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(Page.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'The request was invalid or malformed.',
                                 ErrorException)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Retrieves a property item from a page. For paginated properties like rich
    # text, relation, rollup, and people, this endpoint returns a paginated
    # list. For all other property types, it returns a single property item.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] page_id Required parameter: The ID of the page.
    # @param [String] property_id Required parameter: The ID of the property to
    # retrieve.
    # @param [String] start_cursor Optional parameter: Pagination cursor for
    # paginated property types. If supplied, returns results starting after the
    # cursor.
    # @param [Integer] page_size Optional parameter: Maximum number of property
    # items to return (max 100).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_page_property(notion_version,
                               page_id,
                               property_id,
                               start_cursor: nil,
                               page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/pages/{page_id}/properties/{property_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(page_id, key: 'page_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(property_id, key: 'property_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(start_cursor, key: 'start_cursor'))
                   .query_param(new_parameter(page_size, key: 'page_size'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:json_deserialize))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end
  end
end
