# notion_test
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module NotionTest
  # UsersApi
  class UsersApi < BaseApi
    # Returns a paginated list of Users for the workspace. Guest users are not
    # included. The response may include person users and bot users. Results are
    # paginated with a maximum of 100 users per request.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [String] start_cursor Optional parameter: Pagination cursor to
    # continue fetching results.
    # @param [Integer] page_size Optional parameter: Maximum number of users to
    # return (max 100).
    # @return [ApiResponse] Complete http response with raw body and status code.
    def list_users(notion_version,
                   start_cursor: nil,
                   page_size: nil)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/users',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .query_param(new_parameter(start_cursor, key: 'start_cursor'))
                   .query_param(new_parameter(page_size, key: 'page_size'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PaginatedList.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Retrieves a User object using the ID specified in the path. Returns user
    # details including name, avatar, and type (person or bot).
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @param [UUID | String] user_id Required parameter: The ID of the user to
    # retrieve.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_user(notion_version,
                      user_id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/users/{user_id}',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .template_param(new_parameter(user_id, key: 'user_id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(User.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('404',
                                 'The requested resource does not exist or the integration lacks'\
                                  ' access to it.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end

    # Retrieves the bot User associated with the current API token. Returns
    # information about the integration including its name, owner, and the
    # workspace it belongs to.
    # @param [String] notion_version Required parameter: The version of the
    # Notion API to use. The current version is 2022-06-28. This header is
    # required for all API requests.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def retrieve_bot_user(notion_version)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/users/me',
                                     Server::DEFAULT)
                   .header_param(new_parameter(notion_version, key: 'Notion-Version')
                                  .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(User.method(:from_hash))
                    .is_api_response(true)
                    .local_error('401',
                                 'The bearer token is missing, invalid, or the integration lacks'\
                                  ' access.',
                                 ErrorException)
                    .local_error('429',
                                 'The request has been rate limited. Notion enforces rate limits'\
                                  ' of 3 requests per second for integrations. Retry after the'\
                                  ' specified delay.',
                                 ErrorException))
        .execute
    end
  end
end
